<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fyp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".FYPApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RecorderActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".service.AccelerometerReaderService"/>
        <service android:name=".service.BarometerReaderService"/>
        <service android:name=".service.GravityReaderService"/>
        <service android:name=".service.GyroscopeReaderService"/>
        <service android:name=".service.LinearAccelerometerReaderService"/>
        <service android:name=".service.MagneticReaderService"/>

        <activity android:name=".activity.RealTimeActivity">
        </activity>
    </application>

</manifest>