server/data/db
server/data/sampled
server/data/features
server/data/windowed
server/data/combined
server/data_benchmark/sampled
server/data_benchmark/features
server/data_benchmark/windowed
server/data_benchmark/combined
server/.idea/workspace.xml

android/FYP/volley
server/classifier/model
docs/report
tizen_key
.idea
**/.DS_Store
**/__pycache__
