.text-center {
    text-align: center;
}

.font-bolder {
    font-weight: bolder;
}

.sidenav-active {
    background-color: #DDDDDD;
}

.sidenav-list-icon {
    margin-top: 12px !important;
    margin-right: 20px !important;
}

.hidden {
    opacity: 0;
}

md-toast {
    min-width: 100% !important;
}

md-toast.md-bottom {
    position: fixed;
    bottom: 0;
}

md-input-container.md-input-invalid > md-icon,
md-input-container.md-input-invalid > label {
    color: rgb(221, 44, 0);
}

pre {
    font-size: 14px;
}

.control-button-margin {
    margin-left: 6px;
}

div#raw-data-visualizer-initial-circular-loading {
    margin-top: 100px;
}

.graph-data-file-id {
    margin-top: 40px;
}

#real-time-monitoring-container {
    margin-top: -64px;
    background-color: transparent;
}

#real-time-monitoring-header {
    color: #FFFFFF;
    margin-top: 0;
}

#real-time-monitoring-activity-header {
    color: #FFFFFF;
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 10px;
}

#real-time-monitoring-datetime-container {
    position: fixed;
    bottom: 10px;
}

#real-time-monitoring-activity-datetime {
    color: #FFFFFF;
    font-size: 1.1em;
    opacity: 0.95;
    font-weight: 400;
}

#activity-history-list-table th {
    font-size: 1em;
}

#activity-history-list-table td {
    font-size: 1em;
}

.activity-history-table-cell {
    text-transform: capitalize;
}



@media (min-width: 1920px) {
    md-toast .md-toast-content {
        max-width: 100%;
    }
}

@media (max-width: 959px) {
    #real-time-monitoring-container {
        margin-top: -48px;
    }
}