<md-toolbar>
    <div class="md-toolbar-tools" layout="row">
        <md-button class="md-icon-button" ng-click="toolbarController.openSideNav()" flex="none" layout-align="start center">
            <md-icon md-svg-icon="images/icons/ic_menu_white_36px.svg"></md-icon>
        </md-button>

        <h1 flex="auto" layout-align="start center" id="toolbar-site-title">FYP Client</h1>

        <md-button class="md-icon-button" ng-click="toolbarController.openAboutDialog()" flex="none" layout-align="end center">
            <md-icon md-svg-icon="images/icons/ic_help_outline_white_36px.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>