<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://developer.samsung.com/HelloAccessoryConsumer" version="2.0.0" viewmodes="maximized">
    <tizen:application id="VbsgE6bms2.HelloAccessoryConsumer" package="VbsgE6bms2" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://developer.samsung.com/tizen/feature/network.accessory_protocol"/>
    <icon src="icon.png"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <name>HelloAccessoryConsumer</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
